@import 'src/styles/subsocial-vars.scss'

@media screen and (max-width: 455px)
  .CardWithContent
    flex-direction: column
    align-items: center

  .TitleContainer
    justify-content: center !important

  .Title
    align-items: center
    text-align: center

  .ButtonsContainer
    display: grid
    grid-auto-columns: minmax(0, 1fr)
    grid-auto-flow: column
    gap: $space_small

    button
      width: 100%
