@import 'src/styles/subsocial-vars.scss'

.EnergyStationLayout
  display: flex
  gap: $space_normal

.LeftSideLayout
  display: flex
  flex-direction: column
  gap: $space_normal

.TitleSection
  display: flex
  flex-direction: column
  gap: $space_small

  .Title
    font-size: $font_big
    line-height: 26px
    font-weight: 700
    color: $color_font_normal

  .Description
    font-size: $font_small
    line-height: 22px
    color: #64748B

.FAQWrapper
  margin: 0 !important

.EnergyStatsSection
  display: flex
  gap: $space_normal
  align-items: center

.StatsCard
  display: flex
  gap: $space_tiny
  flex-direction: column
  width: 100%
  border-radius: 20px
  padding: $space_normal
  background: white

  .StatsTitle
    color: #64748B
    font-size: $font_small
    font-weight: 400
    line-height: 22px

  .StatsValue
    display: flex
    gap: $space_mini
    align-items: center

    svg
      color: rgba(100, 116, 139, 0.8)
      font-size: 20px

    span
      color: #0F172A
      font-size: $space_large
      font-weight: 600
      line-height: 32px

.EnergyFormCard
  border-radius: 20px

  :global(.ant-card-body)
    padding: $space_normal










.DropdownOverlay
  background-color: #fff
  width: 250px
  box-shadow: $shadow

.DropdownOverlayContent
  padding: $space_normal $space_big 0 $space_big

.OverlayCollapse
  padding-bottom: $space_normal

  \:global .ant-collapse-header
    padding: 0 !important
    padding-left: 3rem !important

  \:global .ant-collapse-arrow
    left: $space_big !important
    font-size: $font_normal !important

  \:global .ant-collapse-content-box
    padding: $space_small $space_big 0 $space_big !important

.QuestionCircle
  color: $color_primary

.OnlyProgress
  cursor: pointer

.CallsValue
  font-size: 19px
.CallsLowValue
  color: $color_gold
.CallsZeroValue
  color: $color_error

.Warning
  background-color: #FFFBE6
  padding: $space_normal $space_big $space_small $space_big

.Error
  background-color: #F9D8D8

.EnergyIndicator
  display: flex

.InfoSection
  border: 1px solid $color_light_border
  border-radius: $border_radius_normal
  padding: $space_normal
  margin-top: $space_normal

.AmountFormInput
  label
    width: 100%
    margin-bottom: $space_normal

.Faq
  \:global .ant-card-body
    padding: 12px

.FontSmall
  font-size: $font_small

.EnergyIcon
  path
    stroke-width: 36px
