@import 'src/styles/subsocial-vars.scss'

.LeaderboardTable
  display: grid
  grid-template-columns: max-content 1fr max-content
  gap: $space_small

  .LeaderboardRow, .LeaderboardTitles
    display: grid
    grid-template-columns: subgrid
    grid-column: 1/4
    align-items: center

  .ViewMore
    grid-column: 1/4
    justify-self: center