@import 'src/styles/subsocial-vars.scss'

.ProgressModal
  :global(.ant-modal-content)
    overflow: hidden
    color: white

  .DiamondIcon
    font-size: 130px
    position: absolute
    top: -$space_tiny
    left: -$space_tiny

  &.Full
    :global(.ant-modal-content)
      background: linear-gradient(180deg, #9340E6 0%, #7534A9 100%)

  &.Halfway
    :global(.ant-modal-content)
      background: linear-gradient(180deg, #F77400 0%, #F57F00 100%)
  
  :global(.ant-modal-close)
    color: white
    top: 8px
    right: 8px

  .Content
    overflow: visible !important

  .ProgressModalContent
    border-radius: $border_radius_huge
    display: flex
    flex-direction: column
    align-items: center
    gap: $space_big
    position: relative

    .RewardCard
      display: flex
      flex-direction: column
      align-items: center
      border-radius: $border_radius_large
      background: rgba(248, 250, 252, 0.10)
      backdrop-filter: blur(24.5px)
      flex: 1
      padding: $space_normal
      position: relative

      .Diamond
        width: 44px
        height: 44px
        position: absolute
        top: 0
        right: 0
        transform: translate(35%, -50%) rotate(-30deg)
        transform-origin: center
