@import 'src/styles/subsocial-vars.scss'

.DfOnBoardingModal
  &.DfOnBoardingModalFull
    :global(.ant-modal-content)
      height: calc(100vh - 100px)

  :global(.ant-modal-content)
    max-height: 700px
    padding: $space_tiny 0
    border-radius: $space_normal

    :global(.ant-modal-body)
      max-height: none
      height: 100%
      display: flex
      flex-direction: column

      > *
        padding-left: $space_small
        padding-right: $space_small

.Title
  font-weight: bold
  color: #222222
  font-size: $font_big
  margin-bottom: $space_mini
  line-height: normal

.ContentContainer
  padding-top: $space_tiny
  max-height: 480px

  &.ContentContainerFull
    flex: 1

  &.ContentImage
    display: flex
    justify-content: center
    align-items: center

  :global(.on-boarding-image)
    width: 210px
    height: 210px
  
  :global(.on-boarding-confirmationless-image)
    max-width: 180px
