@import 'src/styles/subsocial-vars.scss'

.SectionOverride
  max-width: 100% !important

.EditorFormItem
  \:global .CodeMirror-scroll
    min-height: 2rem !important

  // \:global .DfToolbar
  //   position: absolute
  //   top: -3rem

.ToolsSection
  .AdvancedBody
    &:first-of-type
      margin-bottom: $space_normal

.EditorContainer
  flex-wrap: nowrap

.EditorBodyContent
  .TitleInput
    border: none
    box-shadow: none
    font-size: $font_huge
    padding: 0
    width: 100%
    & \:global .ant-form-item-has-error
      border-bottom: 1px solid $color_error
      border-radius: 0
      &:focus
        box-shadow: none

  \:global .ant-tabs-nav
    margin: 0

.AdvancedBody
  width: 325px

.UploadHint
  padding: 0 $space_normal

  \:global .anticon
    font-size: 40px
  \:global .ant-upload-text
    font-size: $font_normal
    font-weight: 600

.UploadImageModalBtn
  cursor: pointer
  \:global .anticon
    color: $color_primary

.SelectorContainer
  width: calc(100% + $space_small * 2)
  margin-left: -$space_small
  margin-right: -$space_small

.SpaceSelector
  width: 100%
  \:global .ant-select-selector
    border: none !important
    box-shadow: none !important
    padding-right: $space_small !important
    text-overflow: ellipsis
    min-width: 220px
    &:focus
      box-shadow: none !important

.SwitchEditorButton
  height: 40px
  display: flex
  align-items: center
  position: absolute
  right: 24px
  z-index: 10

.BorderLessMdEditor
  \:global .editor-toolbar
    border: none
    padding: $space_mini
    padding-left: 0
    zoom: 1.1

  \:global .CodeMirror
    border: none
    font-size: $font_normal
    padding: 0 !important
    margin-top: $space_tiny

.DfImagePreview
  width: auto
  max-width: 100%
  max-height: 300px

.FixedToolbar
  \:global .editor-toolbar
    background-color: white
    position: fixed
    top: 50px
    z-index: 9
    padding: $space_large 0
    width: 600px

  \:global .DfToolbar
    background-color: white
    position: fixed
    top: 60px
    z-index: 9
    padding: $space_large 0
    width: 662px

.FastEditor
  min-height: 120px
  overflow: auto
  padding-top: 0 !important
  display: flex
  flex-direction: column
  resize: vertical !important

  &:focus-within
    border-color: #f759ab
    box-shadow: $shadow_primary

  \:global .ProseMirror
    flex: 1
    font-size: 14px !important
    margin: 0
    padding: 0

@media screen and ( max-width: 1165px)
  .EditorContainer
    flex-wrap: wrap

  .EditorBodyContent, .AdvancedBody
    width: $max_width_content

  .ToolsSection
    display: flex
    flex-direction: column-reverse
    .AdvancedBody
      &:first-of-type
        margin-top: $space_normal

@media screen and ( max-width: 755px)
  .EditorBodyContent
    max-width: 100%

  .AdvancedBody
    width: 100%

  .EditorBodyContent
    \:global .editor-toolbar
      display: none

@media screen and ( max-width: 455px)
  .CustomPageHeader
    bottom: 0
    top: initial
    box-shadow: none
    height: 64px
    margin-left: -$space_normal

  .HeaderSafeArea
    margin-top: 0
    margin-bottom: 64px

.ModalEditor
  :global(.ant-modal-content)
    background: transparent
    box-shadow: none

  .Content
    background: white
    border-radius: $border_radius_normal
    padding: $space_normal
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05)

  .InfoPanel
    background: #EEF2FF
    padding: $space_normal
    border-radius: $border_radius_large
    margin-top: $space_normal
    display: flex
    align-items: center
    gap: $space_normal

    p
      margin: 0
      margin-top: $space_mini
      font-size: $font_small
      opacity: 0.8

    .InfoPanelContent
      width: 100%
      display: flex
      flex-direction: column

      .Title
        display: flex
        align-items: center
        justify-content: space-between
        gap: $space_tiny

        svg
          color: #60A5FA
          position: relative
          top: 1px

        span
          font-weight: bold

.PostToEarnCard
  align-items: flex-start
  border-radius: $border_radius_large
  background: #EEF2FF
  display: flex
  flex-direction: column
  padding: $space_normal
