@import 'src/styles/subsocial-vars.scss'

.SignInModalContent
    display: flex
    flex-direction: column
    justify-content: center
    padding: 0 $space_tiny
    gap: $space_normal
    margin-top: $space_big

.ConfirmationModalContent
    @extend .SignInModalContent
    gap: $space_big


.InnerCard
    border-radius: 8px
    border: 1px solid #d9d9d9
    :global(.ant-card-body)
        display: flex
        justify-content: space-between
        align-items: center
        padding: 18px 12px

.InnerDivider
    height: 3rem
    border-left: 1px solid #dddddd

.MnemonicText
    text-align: left
    font-weight: 400
    font-size: 16px

.CopyIcon
    padding: 0 6.5px
    color: #888888
    &:hover
        color: $color_link_hover

.InputOTP
  width: 40px
  height: 44px
  padding: 0

  font-size: 24px
  text-align: center
  font-weight: 500
  line-height: 140%
  color: #222222
  text-transform: uppercase

  margin-right: 10px
  border: 1px solid #d6d6d6
  border-radius: 12px
  background: #fafafa
  background-clip: padding-box

.InputOTP:focus
  appearance: none
  outline: 0
  border: 1px solid $color_primary