@import 'src/styles/subsocial-vars.scss'

.MobileIncreaseSubRewards
  position: relative

  .Summary
    position: relative
    background: #EDF4FF
    border-radius: 0px 0px $border_radius_huge $border_radius_huge
    padding: $space_small $space_small $space_normal $space_normal
    overflow: hidden

    .Content
      display: flex
      position: relative
      align-items: center
      justify-content: space-between
      gap: $space_normal
      z-index: 1

      .Arrow
        transition: transform 300ms
        &.IsOpen
          transform: rotate(90deg)

    .Gradient
      z-index: 0
      position: absolute
      background: rgba(140, 180, 252, 0.18)
      top: 50%
      transform: translateY(-50%)
      filter: blur(130px)
      left: 75%
      border-radius: 50%
      width: 400px
      height: 400px
      transition: opacity 300ms

      &.IsOpen
        opacity: 0

    .ProgressContainer
      z-index: 2
      position: absolute
      bottom: 0
      left: 0
      height: 6px
      width: 100%
      background: #CBD5E1

      .Progress
        background: #D232CF
        height: 100%
        border-radius: 40px

  .RewardInfo
    width: 100%
    position: absolute
    z-index: 3
    bottom: 8px
    background: #EDF4FF
    overflow: clip
    border-radius: 0px 0px $border_radius_huge $border_radius_huge
    // box-shadow: 0 24px 20px -20px rgba(0, 0, 0, 0.1)

    transform: translateY(calc(100% - 24px))
    pointer-events: none
    opacity: 0
    transition: opacity 150ms, transform 250ms

    &.IsOpen
      pointer-events: initial
      opacity: 1
      transform: translateY(100%)
      transition: opacity 300ms, transform 150ms

    .GradientOuter
      position: absolute
      top: 65%
      left: 20%
      width: 400px
      height: 400px
      background: rgba(140, 180, 252, 0.3)
      filter: blur(70px)
      border-radius: 100%
