@import 'src/styles/subsocial-vars.scss'

.StakeSubBanner
  display: flex
  border: 1px solid #6366F1
  background: #EDF4FF
  border-radius: $border_radius_huge
  padding: $space_large
  justify-content: space-between

  .Content
    display: flex
    flex-direction: column

    .Title
      font-size: $font_large
      font-weight: $font_weight_medium

    .Subtitle
      font-size: $font_small
      opacity: 0.8

    .Button
      border: 1px solid $color_primary
      font-weight: $font_weight_medium
      padding-left: $space_huge
      padding-right: $space_huge

    .Image
      display: flex
      justify-content: center

      :global(.ant-image), :global(.ant-image-img)
        // width: 100%
        height: 100%
        object-fit: contain