@import '../../../../styles/subsocial-vars'

.Banner
  height: 8rem
  box-shadow: $shadow
  margin-bottom: $space_normal
  border-radius: $border_radius_normal
  padding: $space_small

.DfCloseButton
  color: #fff
  cursor: pointer
  font-size: 1.25rem
  padding-right: 0
  float: right

  &:hover
    color: $color_link_hover
