@import "src/styles/subsocial-vars.scss"

.VideoPlayer
  width: 100%
  height: 384px
  box-shadow: $shadow

.YoutubeEmbedIframe
  width: 100%
  height: 100%
  position: absolute

.YoutubeEmbedWrapper
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-position: center
  background-size: cover

  .YoutubeEmbedPlayer
    position: absolute
    border: none
    cursor: pointer
    background: red
    border-radius: 1em
    width: 5rem
    height: 3.5rem
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

    &:before
      content: ""
      position: absolute
      left: 50%
      top: 50%
      transform: translate(-50%, -50%)
      border-top: 11px solid transparent
      border-right: 0px solid transparent
      border-bottom: 11px solid transparent
      border-left: 19px solid white

  &:global(.youtube-activated)
    .YoutubeEmbedPlayer
      display: none
    